#carousel .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

#carousel .carousel-item .caption_avatar {
    width: 150px;
    height: 150px !important;
    border-radius: 50%;
}

.carousel-caption {
    transform: translateY(50%);
    bottom: 65%;
}

/* .carousel-item{
    position: relative;
} */
/* .nav-item.active::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #35a22c;
    display: inline-block;
    transition: all .5s;
} */
#carousel .nav-item .nav-link {
    color: #fff;
    transition: all .3s;
}

/* start carousel  */
.carousel-item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(39, 43, 54, 0.5);
    content: "";
}

.carousei-indicators li {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.carousel-caption h5 {
    font-size: 55px;
    line-height: 65px;
}

.carousel-caption p {
    font-size: 25px;
}

/* .carousel-indicators .active{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators .active:hover{
    color:#28a745;
} */
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: #28a745;
}

/* start header  */
header {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

header .nav-item.active a {
    color: #28a745 !important;
}

.carousel-indicators li.active:hover {
    background-color: #28a745;
    font-size: 40px;
}
.fa-dice-d20:before{
    color: #28a745;
    font-size: 40px;
}

/* end header */

/* start projects  */
.nav {
    justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background: #28a745;
    border: none;
}
.nav-pills .nav-link{
    border: 1px solid #1a1d2d;
    color: #1a1d2d;
    margin: 0 15px;
}
.projects_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    
}
.projects_item{
    height: 300px;
    border: 1px solid red;
    margin-top: 20px;
    max-width: 50%;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    
}
.card .card-img-top{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


/* end projects  */